.introducao-bg {
    background: var(--cor-0);
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 30px;
}

.introducao h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 35px;
    margin-bottom: 32px;
    color: var(--cor-12);
    text-align: center;
}

.introducao p {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 800px) {
    .introducao-bg {
        padding-top: 10px;
    }

    .introducao-conteudo {
        padding-bottom: 0px;
        margin-bottom: 30px;
    }
    .introducao h1 {
        margin-bottom: 16px;
    }
}

